<ul class="pagination">



    {% if minPage == page %}
    <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href={{path(path,{'id': id,'page': page - 1 } )}}>&laquo;</a>
    </li>
    {% endif %}
    {% for page in numberPage %}
    {% if loop.index == currentPage %}
    <li class="page-item active" aria-current="page">
        <span class="page-link">{{loop.index}}<span class="sr-only">(current)</span></span>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href={{path(path,{'id': id,'page': loop.index - 1} )}}>{{loop.index}}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if (maxPage == minPage or maxPage == page + 1) %}
    <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
    </li>

    {% else %}
    <li class="page-item ">
        <a class="page-link" href={{path(path,{'id': id,'page': page + 1 } )}}>&raquo;</a>
    </li>
    {% endif %}
</ul>