{% extends 'layout/base.html.twig' %}

{% block title %} Edition d'un employé - PROCOST{% endblock %}

{% block body %}


<main class="app-content">
    {{
        include('layout/template/_banner_page_with_link.html.twig', 
    {
        'current_page': "Edition d'un projet", 
        'previous_page': "Projets",
        'path' : "projects"

    })
}}
    <div class="tile">

        {{ include('layout/messages/_flash_message.html.twig') }}

        <div class="form-horizontal">
            {{ form_start(form) }}
            <section>
                <h3>Informations générales</h3>

                <div class="row mt-4">
                    <div class="offset-md-4 col-md-8">
                        <div class="form-group row">
                            {{ form_label(form.name, form.name, {'label_attr': {'class': 'control-label col-md-3'}})
                            }}
                            <div class="col-md-9">
                                {{form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom du projet'}})}}
                                <div class="form-control-feedback text-danger">
                                    {{form_errors(form.name)}}
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">

                            {{ form_label(form.description, form.description, {'label_attr': {'class': 'control-label col-md-3'}})
                            }}
                            <div class="col-md-9">
                                {{form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': form.description.vars.label}})}}
                                <div class="form-control-feedback text-danger">
                                    {{form_errors(form.description)}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.price, form.price, {'label_attr': {'class': 'control-label col-md-3'}})
                            }}
                            <div class="col-md-9">

                                {{form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': "ex: 50000", 'min':"0"}})}}
                                <div class="form-control-feedback text-danger">
                                    {{form_errors(form.price)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr />
            <section>
                <h3>Production</h3>
                <div class="row mt-4">


                    <div class="offset-md-4 col-md-8">
                        <div class="form-group row">

                            {{ form_label(form.create_at, "Date de création",{'label_attr': {'class': 'control-label col-md-3'}}
                            )
                            }}
                            <div class="col-md-9">
                                {{form_widget(form.create_at, {'attr': {'class': 'form-control', 'placeholder': "jj//mm//aaaa", }})}}
                                <div class="form-control-feedback text-danger">
                                    {{form_errors(form.name)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr />
            <div class="row">
                <div class="offset-md-6 col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Enregistrer</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</main>


{% endblock %}