{% extends 'layout/base.html.twig' %}

{% block title %} Suivi d'un employé - PROCOST {% endblock %}

{% block body %}

<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-users"></i>&nbsp;Suivi de {{employee.firstname|capitalize}} {{employee.lastname|upper}}
            </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <a href="#"><i class="fa fa-home fa-lg"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href={{path('employees')}}>Employés</a>
            </li>
            <li class="breadcrumb-item">Suivi de {{employee.firstname|capitalize}} {{employee.lastname|upper}}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile">
                <table class="table table-striped table-bordered table-sm">
                    <tbody>
                        <tr>
                            <th>Prénom</td>
                            <td>{{employee.firstname}}</td>
                        </tr>
                        <tr>
                            <th>Nom</td>
                            <td>{{employee.lastname}}</td>
                        </tr>
                        <tr>
                            <th>Email</td>
                            <td>{{employee.email}}</td>
                        </tr>
                        <tr>
                            <th>Métier</td>
                            <td>{{employee.job.name}}</td>
                        </tr>
                        <tr>
                            <th>Coût journalier</td>
                            <td>{{employee.cost}} €</td>
                        </tr>
                        <tr>
                            <th>Date d'embauche</td>
                            <td>{{employee.startedJob|date("d/m/Y", false)}}</td>
                        </tr>
                    </tbody>
                </table>
                <a href={{path('employees_update', {'id': employee.id})}} class="btn btn-info">
                    <i class="fa fa-pencil"></i>Modifier
                </a>
            </div>
            <div class="tile">

                <h3 class="title-title mb-4">Ajouter un temps</h3>
                {% for message in app.flashes('success') %}
                <div class="alert alert-dismissible alert-success my-4">
                    <button class="close" type="button" data-dismiss="alert">×</button><strong>Super!</strong>
                    {{message}}
                </div>
                {% endfor %}

                <div class="form-horizontal">
                    {{ form_start(form) }}

                    <div class="form-group row">
                        {{ form_label(form.project, form.project, {'label_attr': {'class': 'control-label col-md-6'}})
                        }}
                        <div class="col-md-6">
                            {{form_widget(form.project, {'attr': {'class': 'form-control' }})}}
                            <div class="form-control-feedback text-danger">
                                {{form_errors(form.project)}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.time_production, form.time_production, {'label_attr': {'class': 'control-label col-md-6'}})
                        }}
                        <div class="col-md-6">
                            {{form_widget(form.time_production, {'attr': {'class': 'form-control' }})}}
                            <div class="form-control-feedback text-danger">
                                {{form_errors(form.time_production)}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-6 col-md-8">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Enregistrer</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="tile pb-5">
                <h3 class="tile-title">Historique des temps de production</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Projet</th>
                                <th>Temps</th>
                                <th>Date de saisie</th>
                                <th>Coût total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assigne in assigned %}
                            <tr>
                                <td>{{assigne.project.name}}</td>
                                <td>{{assigne.timeProduction}} jours</td>
                                <td>{{assigne.publishedAt|date("d/m/Y", false) }}</td>
                                <td> {{ assigne.timeProduction * assigne.employee.cost }}€ </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <hr />
                <nav class="float-right">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1<span class="sr-only">(current)</span></span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>



{% endblock %}